<div class="forgot-password-container" @fadeInAnimation [ngStyle]="{'background-image': 'url(assets/rotacart-fondo.jpg)', 'background-size': 'cover', 'background-position': 'center', 'height': '100vh'}">
    <mat-card class="forgot-password-card" style="margin-top: -150px; box-shadow: 0 0 10px rgba(79, 180, 230, 0.5);">
      <mat-card-header>
        <mat-card-title>Olvidé mi Contraseña</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput type="email" [(ngModel)]="userEmail" name="email" placeholder="Ingresa tu correo electrónico" required>
            </mat-form-field>
            
            <div class="actions space-x-4">
              <button class="bg-transparent hover:bg-sky-400 text-state-950  font-semibold hover:text-white py-2 px-4 border border-sky-400 hover:border-transparent rounded">Regresar</button>
              <button class="bg-transparent hover:bg-sky-400 text-state-950 font-semibold hover:text-white py-2 px-4 border border-sky-400 hover:border-transparent rounded" type="submit">Enviar Enlace de Restablecimiento</button>
            </div>
            
            
            
          </form>
          
      </mat-card-content>
    </mat-card>
  </div>
  