<br>
<br>
<div class="dashboard">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-1">
      <div class="dashboard-card h-full bg-white p-6 rounded-md shadow-md">
        <h3 class="text-xl font-semibold mb-4">Pedidos Pendientes</h3>
        <p>5 pedidos aún no procesados.</p>
      </div>
    </div>
  
    <div class="col-span-1">
      <div class="dashboard-card h-full bg-white p-6 rounded-md shadow-md">
        <h3 class="text-xl font-semibold mb-4">Envíos Pendientes</h3>
        <p>2 envíos pendientes de confirmación.</p>
      </div>
    </div>
  
    <div class="col-span-1">
      <div class="dashboard-card h-full bg-white p-6 rounded-md shadow-md">
        <h3 class="text-xl font-semibold mb-4">Inventario</h3>
        <p>Gráfico de inventario aquí (estático).</p>
      </div>
    </div>
  </div>
  
  
  <br>
  <br>
    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title>Bienvenido, Admin</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Consejo del día: "Revisa tu inventario semanalmente para evitar desabastecimientos".</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="actions-card">
      <mat-card-header>
        <mat-card-title>Acciones Rápidas</mat-card-title>
      </mat-card-header>
      <mat-card-content class="actions-container">
        <button mat-raised-button color="primary" aria-label="Crear nuevo producto">
          <mat-icon>add_circle_outline</mat-icon> Nuevo Producto
        </button>
        <button mat-raised-button color="accent" aria-label="Gestionar inventario">
          <mat-icon>inventory_2</mat-icon> Gestionar Inventario
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  