<mat-toolbar color="primary" style="background-color: white; color: #333; box-shadow: 0 5px 4px rgba(100, 164, 255, 0.5);">
  <a href="/" class="logo my-8">
    <img src="assets/rotacart.png" alt="RutaCard Logo" class="h-40">
</a>

    <span class="spacer"></span>
    <button mat-button routerLink="/admin/home">Inicio</button>
    <button mat-button routerLink="/admin/products">Productos</button>
    <button mat-button routerLink="/admin/categories">Categorías</button>
    <button mat-button routerLink="/admin/pedidos">Pedidos</button>
    <button mat-button routerLink="/admin/envios">Envíos</button>
    <button mat-button routerLink="/admin/proveedores">Proveedores</button>
    <button mat-button routerLink="/admin/users">Usuarios</button>
    
    <ng-container *ngIf="authService.isLoggedIn | async">
      <button mat-icon-button [matMenuTriggerFor]="adminMenu" aria-label="Cuenta de administrador">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <mat-menu #adminMenu="matMenu">
        <button mat-menu-item routerLink="/admin/account-settings">Configuraciones de la Cuenta</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="authService.logout()">Cerrar sesión</button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>
  <br>
  <br>
  <br>
  