<br>

<section class="bg-sky-200 text-white py-15 px-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="md:w-1/2 mb-10 md:mb-0">
            <h1 class="text-4xl font-bold leading-tight mb-4 text-black">Fieles a nuestra superficie de operador</h1>
            <p class="text-xl mb-4 text-black">Desafortunadamente, hay datos de superficie reclamados por varios proveedores de soportes de biopelículas en la industria de aguas residuales que son extremadamente exagerados tanto para las superficies totales como para las protegidas.</p>
        </div>
        <div class="md:w-1/2">
            <img src="assets/trat8.JPG" alt="Hero Image" class="w-full rounded-xl">
        </div>
    </div>
</section>
<br>

<div>


    <div class="grid grid-cols-2 gap-8 relative m-16">
        <div class="col-span-1">
            <button class="absolute py-1 px-3 -left-8 -top-2 border border-black black_border text-white font-bold" style="background-color: rgb(125, 173, 240);">
                The Smart and Reliable MBBR Carrier
            </button>
    
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Aplications:</span>
                Our biofilm carriers were designed and have been used very successfully in a number of industries including in several wastewater treatment technologies (sanitary and industrial), e.g., MBBR (Moving Bed Biofilm Reactor), aquaculture and others
            </div>

    
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Material:</span>
                Manufactured with high quality virgin high density polyethylene (HDPE)
            </div>
    
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Presentation:</span>
                Sold in 1 m3 bags
            </div>
            
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Structural Strength:</span>
                Designed and manufactured to withstand its own weight plus the wet biofilm in a dewatered reactor
            </div>
    
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Buoyancy:</span>
                Can be installed in empty or filled tank but shall not be stepped on or otherwise be subject to any mechanical forces other that its own and the biofilm weights
            </div>
        </div>
    
        <div class="col-span-1">
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Installation:</span>
                Designed and manufactured to withstand its own weight plus the wet biofilm in a dewatered reactor
            </div>
    
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Air/Oxygen Delivery:</span>
                Can be used with most air/oxygen delivery system designs; consult with distributor
            </div>
    
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Anoxic Zone:</span>
                Can be used very successfully in anoxic conditions for nitrification/denitrification with properly designed mechanical mixing
            </div>
    
            <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">UV Protection:</span>
                Protected against ambient UV light at all earth latitudes
             </div>
    
             <div class="purple_border p-8 border border-black">
                <span class="font-mono text-sky-700 font-bold">Retrofit:</span>
                Have been used very successfully to retrofit existing WWTPs to replace the activated sludge process in most design formats (e.g., complete mix, plug flow, extended aeration) to increase loading capacity by a factor of 2 to 5; some upgrades and adjustments in the existing air/oxygen delivery and reactor outlet could be required; consult with distributor.
             </div>
    
        </div>
    </div>
    
    
    
    






</div>
<div class="p-1 flex flex-wrap items-center justify-center">

    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-sky-200 rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
            viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
            <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
            <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
        </svg>
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="assets/producto1.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">RC-01</span>
                <div class="relative">
                    <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                        <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                    </span>
                </div>
                
                            </div>
        </div>
    </div>
    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-sky-200 rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
            style="opacity: 0.1;">
            <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
            <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
        </svg>
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="assets/producto2.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">RC-02</span>
                <div class="relative">
                    <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                        <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-shrink-0 m-6 relative overflow-hidden  bg-sky-200 rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
            style="opacity: 0.1;">
            <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
            <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
        </svg>
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="assets/producto3.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">RC-03</span>
                <div class="relative">
                    <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                        <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-shrink-0 m-6 relative overflow-hidden  bg-sky-200 rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
            style="opacity: 0.1;">
            <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
            <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
        </svg>
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="assets/producto4.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">RC-04</span>
                <div class="relative">
                    <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                        <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-shrink-0 m-6 relative overflow-hidden bg-sky-200 rounded-lg max-w-xs shadow-lg group">
        <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
            style="opacity: 0.1;">
            <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
            <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
        </svg>
        <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
            <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
            </div>
            <img class="relative w-40" src="assets/producto5.png" alt="">
        </div>
        <div class="relative text-white px-6 pb-6 mt-6">
            <div class="flex justify-between">
                <span class="block font-semibold text-xl">RC-05</span>
                <div class="relative">
                    <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                        <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="p-1 flex flex-wrap items-center justify-center">

        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-sky-200 rounded-lg max-w-xs shadow-lg group">
            <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform"
                viewBox="0 0 375 283" fill="none" style="opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                    style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
                </div>
                <img class="relative w-40" src="assets/producto6.png" alt="">
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <div class="flex justify-between">
                    <span class="block font-semibold text-xl">RC-06</span>
                    <div class="relative">
                        <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                            <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-sky-200 rounded-lg max-w-xs shadow-lg group">
            <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
                style="opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                    style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
                </div>
                <img class="relative w-40" src="assets/producto7.png" alt="">
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <div class="flex justify-between">
                    <span class="block font-semibold text-xl">RC-07</span>
                    <div class="relative">
                        <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                            <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 m-6 relative overflow-hidden  bg-sky-200 rounded-lg max-w-xs shadow-lg group">
            <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
                style="opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                    style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
                </div>
                <img class="relative w-40" src="assets/producto8.png" alt="">
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <div class="flex justify-between">
                    <span class="block font-semibold text-xl">RC-08</span>
                    <div class="relative">
                        <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                            <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-sky-200 rounded-lg max-w-xs shadow-lg group">
            <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
                style="opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                    style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
                </div>
                <img class="relative w-40" src="assets/producto9.png" alt="">
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <div class="flex justify-between">
                    <span class="block font-semibold text-xl">RC-09</span>
                    <div class="relative">
                        <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                            <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="flex-shrink-0 m-6 relative overflow-hidden bg-sky-200 rounded-lg max-w-xs shadow-lg group">
            <svg class="absolute bottom-0 left-0 mb-8 scale-150 group-hover:scale-[1.65] transition-transform" viewBox="0 0 375 283" fill="none"
                style="opacity: 0.1;">
                <rect x="159.52" y="175" width="152" height="152" rx="8" transform="rotate(-45 159.52 175)" fill="white" />
                <rect y="107.48" width="152" height="152" rx="8" transform="rotate(-45 0 107.48)" fill="white" />
            </svg>
            <div class="relative pt-10 px-10 flex items-center justify-center group-hover:scale-110 transition-transform">
                <div class="block absolute w-48 h-48 bottom-0 left-0 -mb-24 ml-3"
                    style="background: radial-gradient(black, transparent 60%); transform: rotate3d(0, 0, 1, 20deg) scale3d(1, 0.6, 1); opacity: 0.2;">
                </div>
                <img class="relative w-40" src="assets/producto10.png" alt="">
            </div>
            <div class="relative text-white px-6 pb-6 mt-6">
                <div class="flex justify-between">
                    <span class="block font-semibold text-xl">RC-10</span>
                    <div class="relative">
                        <span class="block bg-white rounded-full text-orange-500 text-xs font-bold px-3 py-2 leading-none flex items-center">
                            <img src="assets/ojo.png" alt="Nombre de la imagen" class="h-6 w-6 mr-1"> <!-- Reemplaza "nombre_de_la_imagen.png" con la ruta de tu imagen -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>