<div class="registration-success-container" style="background-image: url('assets/fondo-login.png'); background-size: cover; background-position: center; height: 100vh;">
    <mat-card class="registration-success-card">
      <mat-card-header>
        <mat-card-title>Registro Exitoso</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Felicidades, tu registro se ha completado con éxito.</p>
        <p>Puedes cerrar esta pestaña o <a href="/">volver al inicio.</a></p>
      </mat-card-content>
    </mat-card>
</div>
