<footer class="mat-elevation-z4">
    <mat-toolbar color="primary" style="background-color: white; color: #333; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      <div class="container">
        <img src="assets/rotacart.png" alt="RutaCard Logo" style="height: 80px; margin-right: 10px;">

        <span>© {{currentYear}} RutaCard - Todos los derechos reservados.</span>
        <span class="spacer"></span>
        <a mat-button href="https://github.com" target="_blank" rel="noopener">GitHub</a>
        <a mat-button href="https://twitter.com" target="_blank" rel="noopener">Twitter</a>
      </div>
    </mat-toolbar>
  </footer>
