<mat-toolbar color="primary" style="background-color: white; color: #333; box-shadow: 0 5px 4px rgba(100, 164, 255, 0.5);">
  <a href="/" class="logo" style="margin-top: 20px;">
    <img src="assets/rotacart.png" alt="RutaCard Logo" style="height: 150px;">
  </a>
  
  <span class="spacer"></span>
  <button mat-button routerLink="/" style="color: #333;">Inicio</button>
  <button mat-button routerLink="/products" style="color: #333;">Productos</button>
  
  <ng-container *ngIf="authService.isLoggedIn | async; else loggedOut">
    <span class="bienvenido-texto" *ngIf="authService.isLoggedIn | async" @fadeInOut style="color: #333;">Bienvenido, {{ authService.currentUserValue?.nombre }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Cuenta de usuario">
      <mat-icon style="color: #333;">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/pedidos" style="color: #333;">Mis Pedidos</button>
      <button mat-menu-item routerLink="/envios" style="color: #333;">Mis Envíos</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="authService.logout()" style="color: #333;">Cerrar sesión</button>
    </mat-menu>
  </ng-container>
  <ng-template #loggedOut>
    <button mat-button routerLink="/login" style="color: #333;">Iniciar sesión</button>
    <button mat-button routerLink="/signup" style="color: #333;">Registrarse</button>
  </ng-template>
  
  <button mat-icon-button routerLink="/cart" style="color: #333;">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>



<br>
<br>
<br>