mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Asegura que la imagen cubra el área sin perder proporciones */
  }
  .logo img {
    height: 120px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .bienvenido-texto {
    margin-right: 16px;
    color: #000000;
    font-weight: 500;
  }

  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .custom-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .total-general {
    font-weight: bold;
    color: #000;
    background-color: #f0f0f0; /* Color de fondo suave para destacar el total general */
    margin-top: 10px; /* Espacio antes del total general */
  }
  .vaciar-carrito {
    color: #D32F2F; /* Color rojo para destacar la acción de vaciar el carrito */
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .product-info {
    flex-grow: 1;
    margin: 0 10px;
  }
  
  .product-actions button {
    margin: 0 2px;
  }
  
  .product-actions mat-icon {
    font-size: 20px; 
  }
  
  mat-divider {
    margin: 5px 0;
  }
  