
<div [@fadeInOut] class="category-container">
  <mat-form-field appearance="fill">
    <mat-label>Buscar Pedido</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Introduce términos de búsqueda">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>    
  <div class="cards-flex-container">

  <div class="card-container" *ngFor="let pedido of dataSource.filteredData">
    <mat-card class="pedido-card" (click)="mostrarDetallesPedidoEnvio(pedido.pedidoID)" style="cursor:pointer;">
      <div class="card-header">
        <div class="product-images">
          <img *ngFor="let url of pedido.imagenURL.split(', ')" [src]="url" class="product-image">
        </div>
        <h2 class="product-name">{{ pedido.nombreProducto }}</h2>
      </div>
      <div class="card-content">
        <p class="fecha-pedido">Fecha: {{ pedido.fechaPedido | date: 'medium' }}</p>
        <p class="estado-envio" [ngClass]="{'entregado': pedido.estadoEnvio === 'Entregado', 'pendiente': pedido.estadoEnvio !== 'Entregado'}">Estado: {{ pedido.estadoEnvio }}</p>
        <p class="direccion-envio">Dirección: {{ pedido.direccionEnvio }}</p>
      </div>
      <div class="card-footer">
        <p class="total">Total: {{ pedido.total | currency }}</p>
        <button mat-raised-button color="primary" (click)="verPedido(pedido.pedidoID)" class="ver-pedido-btn">Ver Pedido</button>
      </div>
      
      
    </mat-card>
  </div>
</div>


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
