<br>
<br>
<div *ngIf="envio">
    <h2>Detalles del Envío</h2>
    <p><strong>ID del Envío:</strong> {{ envio.EnvioID }}</p>
    <p><strong>ID del Pedido:</strong> {{ envio.PedidoID }}</p>
    <p><strong>ID del Proveedor:</strong> {{ envio.ProveedorID }}</p>
    <p><strong>Costo de Envío:</strong> {{ envio.CostoEnvio }}</p>
    <p><strong>Fecha de Envío:</strong> {{ envio.FechaEnvio }}</p>
    <p><strong>Fecha de Entrega Estimada:</strong> {{ envio.FechaEntregaEstimada }}</p>
    <p><strong>Estado del Envío:</strong> {{ envio.Estado }}</p>
  </div>
  
